body{
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  background: url(../images/backwork.jpg);

}
td{
  text-align: center;
  padding: 5%;
}
hr{
  border: 2px solid;
  width: 70%;
  border-radius: 50%;
  color: rgb(47, 47, 47, 0.5);
}


.avtar{
  height: 200px;
  width: 200px;
  border: 1.5rem solid;
  border-radius: 100%;
  border-color: rgb(128,128,128, 0.2);
  margin-top: 5rem;

}
.container-fluid{


  padding: 3% 15%;
}
#title{

}
.soc{
  margin:  15px;
}

/* Persona */
.persona{

  background-color: rgb(47, 47, 47, 0.5);
}
.persona h2{
  color: #3fbac2;
}
.pers-tabble{
  font-family: "Roboto-Bold";
  color: #3fbac2;

}
.freelance{
  background-color: red;
}
.row{
  align-items: center;
}

#works{
  position: relative;
  background-color: rgb(47, 47, 47, 0.3);
}






/* КАРУСЕЛИ  */
.carousel-inner, item, img {
margin: 0 auto;
}
.google-play-icons{
  margin-top: 15%;
}
.Raiffeisen-title{
  font-family: 'Anton', sans-serif;
  color: yellow;
}
.Ticketland-title{
  font-family: 'Oswald', sans-serif;
  color: #FF3500;
}
.go{
  font-family: 'Bangers', cursive;
  color: #c7f5fe;
}
.stk{
  text-align: left;
}


/* Ебучие вкладки */

.tabs { width: 100%; padding: 0px; margin: 0 auto; }
.tabs>input { display: none; }
.tabs>div {
    display: none;
    padding: 12px;
    border: 1px solid #C0C0C0;
    /* background: #FFFFFF; */
}
.tabs>label {
    display: inline-block;
    padding: 7px;
    margin: 0 -5px -1px 0;
    text-align: center;
    color: #666666;
    border: 1px solid #C0C0C0;
    border-top-left-radius:  10%;
    border-top-right-radius:  10%;
    /* background: #E0E0E0; */
    cursor: pointer;
}
.tabs>input:checked + label {
    color: #000000;
    border: 1px solid #C0C0C0;
    border-bottom: 1px solid #FFFFFF;
    background: #FFFFFF;
}
#tab_1:checked ~ #txt_1,
#tab_2:checked ~ #txt_2,
#tab_3:checked ~ #txt_3,
#tab_4:checked ~ #txt_4 { display: block; }



/*-----------------------------------------------------
                           MEDIA
------------------------------------------------------- */
@@media (max-width: 900px) {
  .col-6{
    width: auto;
  }
}
