body{
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  background: url(../images/backwork.jpg);

}
td{
  text-align: center;
  padding: 5%;
}
hr{
  border: 2px solid;
  width: 70%;
  border-radius: 50%;
  color: rgb(47, 47, 47, 0.5);
}


.avtar{
  height: 200px;
  width: 200px;
  border: 1.5rem solid;
  border-radius: 100%;
  border-color: rgb(128,128,128, 0.2);
  margin-top: 5rem;

}
.container-fluid{


  padding: 3% 15%;
}
#title{

}
.soc{
  margin:  15px;
}

/* Persona */
.persona{

  background-color: rgb(47, 47, 47, 0.5);
}
.persona h2{
  color: #3fbac2;
}
.pers-tabble{
  font-family: "Roboto-Bold";
  color: #3fbac2;
}
.row{
  align-items: center;
}

#works{
  background-color: rgb(47, 47, 47, 0.3);
}






/* КАРУСЕЛИ  */
.carousel-inner, item, img {
margin: 0 auto;
}
.google-play-icons{
  margin-top: 15%;
}
.Raiffeisen-title{
  font-family: 'Anton', sans-serif;
  color: yellow;
}
.Ticketland-title{
  font-family: 'Oswald', sans-serif;
  color: #FF3500;
}
.go{
  font-family: 'Bangers', cursive;
  color: #c7f5fe;
}
.stk{
  text-align: left;
}
