body{
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  background: url(../images/backwork.jpg);

}
td{
  text-align: center;
  padding: 5%;
}



.avtar{
  height: 200px;
  width: 200px;
  border: 1.5rem solid;
  border-radius: 100%;
  border-color: rgb(128,128,128, 0.2);
  margin-top: 5rem;

}
.container-fluid{


  padding: 3% 15%;
}
#title{

}
.soc{
  margin:  15px;
}

/* Persona */
.persona{

  background-color: rgb(47, 47, 47, 0.5);
}
.persona h2{
  color: #3fbac2;
}
.pers-tabble{
  font-family: "Roboto-Bold";
  color: #3fbac2;
}
.row{
  text-align: center;
}
